@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
.theme-text {
  color: #0f1053;
}
.theme-div {
  background: #0f1053;
  color: #fff;
}
.btn {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin: 0px;
}

.btn-basic {
  color: #2a2a2a;
   font-size: 16px;
  font-style: normal;
  font-weight: 500;
   border: 2px solid #0f1053;
  transition: 0.3s;
}

.btn-basic:hover {
  background: #1e40af;
  color: aqua;
}
.btn-secondery {
  background: #0f1053;
  color: #fff;
   font-size: 16px;
  font-style: normal;
  font-weight: 500;
   border: 2px solid #0f1053;
  transition: 0.3s;
}

.btn-secondery:hover {
  background: #1e40af;
  color: #fff;
}
